


  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'recipe', media: 'all' %> <!-- Add this line to include the recipe.css file -->


  <div class="container">
    <h1><%= @recipe.name %></h1>

    <p class="description">Description: <%= @recipe.description %></p>
    <img src="<%= @recipe.image %>" width="500" height="500" alt="<%=@recipe.name%>">

    <p class="category-title">Category:</p>
    <ul class="categories">
      <% @recipe.category.each do |c| %>
        <li><%= link_to c.name, category_path(c) %></li>
      <% end %>
    </ul>

    <p class="ingredients-title">Ingredients:</p>
    <ul class="ingredients">
      <% @recipe.ingredient.each do |ingredient| %>
    <li><%= "#{ingredient.ingredient_recipe.find_by(recipe_id: @recipe.id).count} #{ingredient.name}" %></li>
  <% end %>
    </ul>

    <p class="instructions-title">Instructions:</p>
    <p class="instructions"><%= @recipe.instructions %></p>
  </div>

