<h1><%= @recipe.name %></h1>

<p>Description: <%= @recipe.description %></p>
<img src=<%= @recipe.image %> width="500" height="500">

<p>Category:<p>
<ul>
  <% @recipe.category.each do |c| %>
    <p><%= c.name %></p>
    <p><%= c %></p>
  <% end %>
</ul>

<p>Ingredients:<p>
<ul>
  <% @recipe.ingredient.each do |ingredient| %>
    <p><%= ingredient.count %> <%= ingredient.name %></p>
  <% end %>
</ul>

<p>Instructions: <%= @recipe.instructions%></p>