<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Recipe Recipe</h1>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "About Us", about_path %></li>
        </ul>
      </nav>
    </header>

    <div class="searchbar">
      <%= form_tag(search_results_path, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q, params[:q]) %>
        <%= label_tag(:category, "Filter by Category:") %>
        <%= select_tag(:category, options_for_select(Category.all.collect { |c| [c.name, c.id] }, params[:category]), include_blank: true) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
